<div class="d-flex  text-center text-white bg-dark" id="body">
    <div class="px-5">
      <h1>Oops! Non abbiamo trovato la pagina che stavi cercando</h1>
      <p class="lead">Controlla di aver inserito un indirizzo url corretto nella barra di ricerca e riprova oppure premi il bottone qui sotto per tornare alla homepage</p>
      <p class="lead">
        <button (click)="redirect()" class="btn btn-lg btn-secondary fw-bold border-white bg-white text-dark">Back to Homepage</button>
      </p>
    </div>
  </div>

